<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="carrito.component.css">
    <script src="app.js" async></script>
    <title>Catalogo| </title>
</head>
<app-navbar3></app-navbar3>
<body>
    <header>
        <h1>Catalogo</h1>
    </header>
    <section class="contenedor">
        <!-- Contenedor de elementos -->
        <div class="contenedor-items">
            <div *ngFor="let producto of productosBuscados">
                <div class="item">
                  <span class="titulo-item">{{producto.nombre}}</span>
                  <img [src]="producto.imagen" alt="{{producto.nombre}}" class="img-item">
                  <span class="precio-item">{{producto.precio | currency:'USD'}}</span>
                  <span> {{producto.idProducto}}</span>
                  <button class="boton-item" (click)="agregarAlCarritoClicked(producto)">Agregar al Carrito</button>
                </div>
            
            </div>
           </div>
        
       <!-- Carrito de Compras -->
  <div class="carrito" [ngStyle]="{'margin-right': carritoVisible ? '0' : '-100%', 'opacity': carritoVisible ? '1' : '0'}">
    <div class="header-carrito">
      <h2>Articulos agregados</h2>
    </div>

    <div class="carrito-items">
      <div *ngFor="let item of carritoItems" class="carrito-item">
        <img [src]="item.imagenSrc" width="80px" alt="">
        <div class="carrito-item-detalles">
          <span class="carrito-item-titulo">{{item.titulo}}</span>
          <div class="selector-cantidad">
            <i class="fa-solid fa-minus" (click)="restarCantidad(item)"></i>
            
            <i class="fa-solid fa-plus" (click)="sumarCantidad(item)"></i>
          </div>
          <span class="carrito-item-precio">{{item.precio}}</span>
        </div>
        <button (click)="eliminarItemCarrito(item)" class="btn-eliminar">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>

    <div class="carrito-total">
      <div class="fila">
        <strong>Tu Total</strong>
        <span class="carrito-precio-total">{{total | currency:'USD'}}</span>
      </div>
      <button class="btn-pagar" (click)="pagarClicked()">Pagar <i class="fa-solid fa-bag-shopping"></i></button>
    </div>
        </div>
    </section>
</body>
</html>